.text-editor,.html{
    width:500px;
    height: 400px;
    margin: auto;
    outline:none;
    box-sizing: border-box;
    border: 1px solid #00000030;
    display: block;
}
.formatter{
    width: 500px;
    margin: auto;
}
